<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container-fluid mt-5 p-0">
        <h1 class="text-center alert alert-danger">CRUD OPERATION</h1>
    </div>
    {% block content %}{% endblock content%}
    <script src="{% static 'enroll/js/bootstrap.min.js' %}"></script> 
    <script src="{% static 'enroll/js/jquery.js' %}"></script>
</body>
</html>